*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

.main-header1{
    display:flex;
    gap:10px;
    align-items:center
}

.insert-text{
    background-color:red;
    width:300px;
    height:15px;
    border-radius:5px;

}

.header2{
    display:flex;
    gap:30px;
    margin-left:90px
}



.header3{
    display:flex;
    gap:10px;
    
}

.header4{
    display:flex;
    justify-content: start;
}
button{
    background-color:blue;
    color:white;
    border-radius:10px;
    width:80px;
    margin:10px;
    maddi
}

.entire-header{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    padding:10px;
    row-gap:20px;
    
}

.content-image{
    display:flex;
    gap:10px
}

.trending{
    display:flex;
    
}
.trending2{
    display:flex
}
.trending3{
    display:flex;
}
.trending4{
    display:flex;
}