*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

.main-header1{
    display:flex;
    gap:10px;
    align-items:center
}

.insert-text{
    background-color:red;
    width:300px;
    height:15px;
    border-radius:5px;

}

.header2{
    display:flex;
    gap:30px;
    margin-left:90px
}

.card h6{
    font-size:10px
}

.header3{
    display:flex;
    gap:10px;
    
}

.header4{
    display:flex;
    justify-content: start;
}
button{
    background-color:blue;
    color:white;
    border-radius:10px;
    width:80px;
    margin:10px;
    font-size:10px
}

.entire-header{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    padding:10px;
    row-gap:20px;
    
}

.content-image{
    display:flex;
    gap:10px;
    justify-content:flex-end;

}
.target{
    background-color:yellow;
    border-radius:6px;
    

}

.trending{
    display:flex;
    
}
.trending2{
    display:flex
}
.trending3{
    display:flex;
}
.trending4{
    display:flex;
}
.card{
      height:120px;
    font-size:10px;
    width:200px;
    margin-bottom:30px;
    border-left:4px solid gold;
    border-right:2px solid gray;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    padding:20px;
    border-radius:5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
}


.announcement-card{
    height:200px;
    font-size:10px;
    width:200px;
    border:2px solid gray;
    padding:20px;
    border-radius:10px;
}

.general-trending{
    height:150px;
    font-size:10px;
    width:200px;
    border:2px solid gray;
    padding:20px;
    border-radius:10px;
}

.side1{
    display:flex;
    align-items:center;
    font-size:12px;
    font-weight:bold;
    margin-bottom:20px;
    
}
.side2{
    display:flex;
    font-weight:bold;
    
}
.side3{
    display:flex;
      font-weight:bold;
}

.side4{
    display:flex;
      font-weight:bold;
}
.side5{
    display:flex;
      font-weight:bold;
}
.side6{
    display:flex;
      font-weight:bold;
}
.side7{
    display:flex;
    margin-bottom:20px;
      font-weight:bold;
}
.side8{
    display:flex;
      font-weight:bold;
}

.side9{
    display:flex;
      font-weight:bold;
}

.bar{
  font-size:10px;
  align-items:center;
  gap:7px



}

.sidebar-container{
    background-color:blue;
    color:white;
    padding-left:10px;
    padding-top:10px;

}



.main-container{
    display:grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows: auto auto auto;
    column-gap:5px;
    row-gap:5;
    




}

.entire-header{
    grid-column:2 / 4
}

.sidebar-container{
    grid-column:1;
    grid-row:1 /4

}

.main-body{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column:2;
    
    
}

.announcement-card{
    grid-column:3;
    grid-row:2
} 

.general-trending{
    grid-column:3;
    margin-top:-180px
    
} 
svg{
    color:white;
}

.title{
    position:relative
}