*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.aside{
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

.bar{
    border-radius:50px;
    width:250px;
    height:15px;
    background-color:#D1E5F4;
}

.search-bar{
    display:flex;
}

.bar-image{
    display:flex;
    gap:20px;
}

.header-one{
    display:flex;
    align-items:center;
    gap:30px;
    justify-content: space-around;
}

.arrow-name{
    display:flex;
    align-items:center;
    gap:10px;
}

.header-two{
    display:flex;
    align-items:center;
    gap:90px;
    justify-content:space-around;
}



.buttons{
    display:flex;
    gap:30px;
}

.button{
    width:50px;
    background-color:royalblue;
    color:white;
    border-radius:10px;
    border:none;
    font-size:7px;
    padding:5px;
}
.greet{
    font-size:10px;
}

.card{
    width:200px;
    height:150px;
    border-radius:5px;
    background-color:white;
    font-size:10px;
    padding:20px;
    border-left:5px solid gold;
}

.wordings{
    width:190px;
    height:220px;
    border-radius:5px;
    font-size:7px;
    background-color:white;
    margin-bottom:30px;
    padding:20px

}


.wordings-cont{
    margin:0;
    padding-top:10px;
}
.para{
    padding-bottom:10px;
}

.names{
    font-size:10px;
    
}

.aside2{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
    

}


.trending-card{
    width:200px;
    height:200px;
    border-radius:5px;
    padding:20px;
    background-color:white;

    
}

.main-container{
    display:grid;
    grid-template-columns:1fr  2fr 1fr;
    background-color:#D1E5F4;
    
    
}
header{
    background-color:white;
    grid-column:2/4;
    padding:20px;
}

.card-control{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;

}

.images{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:flex-end;
    gap:30px;

}
.staeyebra{
    display:flex;
    gap:15px;
}


side-bar{
    grid-row:1/-4;
    background-color:#007FFF;
    color:white;
    padding:30px;

}

main{
    resize:both;
    padding-top:20px;
    padding-left:20px;
    grid-template-columns:repeat(auto-fit, minmax(50px,1fr))
    
    
}

aside{
    padding-top:20px;
}

.content-header, .content-para{
    margin:0;
}

#trend{
    padding-bottom:22px;
}
#dog{
    background-color:skyblue;
    border-radius:10px;

    
    
}
#arrow-hit{
      background-color:yellow;
    border-radius:10px;
}

#male-face{
      background-color:grey;
    border-radius:10px;
}

#woman{
      background-color:pink;
    border-radius:10px;
}

.aside.part{
    margin-bottom:50px;
}

.target{
    background-color:yellow;
    border-radius:10px
}